<div id="search-field">
  <input
    type="text"
    placeholder="Enter a name or a number..."
    id="search-input"
    [ngModel]="input"
    (ngModelChange)="handleInput($event)"
  />
</div>
<h3 
  *ngIf="loading"
  class="loading-text">Loading...</h3>
<app-contact-entry
  *ngFor="let contact of contacts"
  [firstName]="contact.firstName"
  [lastName]="contact.lastName"
  [number]="contact.number"
  [_id]="contact._id"></app-contact-entry>

<div id="add-new">
  <a routerLink="/edit/new"><button>Add new contact</button></a>
</div>
