<div id="SearchField">
  <input
    type="text"
    placeholder="Enter a name or a number..."
    id="search-input"
    [ngModel]="input"
    (ngModelChange)="handleInput($event)"
  />
</div>
<div id="ContactInfo" *ngFor="let contact of contacts">
  <div id="name">{{ contact.firstName }} {{ contact.lastName }}</div>
  <div id="number">{{ contact.number }}</div>
  <a [routerLink]="['/edit', contact._id]"
    ><button id="editButton">Edit</button></a
  >
</div>
<div id="add-new">
  <a routerLink="/edit/new"><button>Add new contact</button></a>
</div>
