#contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact-container > #title {
  color: white;
  font-weight: 200;
  margin: 2% 0;
}

#contact-container > h5 {
  margin: 1% 0;
  font-weight: 300;
  font-size: 120%;
}

#contact-container > input {
  font-weight: 100;
  color: #333;
  margin: 2% 0;
  font-size: 150%;
  width: 80%;
  padding: 1%;
}

button {
  background: #fff;
  border: 0;
  color: #00b5ad;
  font-weight: bolder;
  cursor: pointer;
  border-radius: 3%;
  margin: 1%;
  font-size: 130%;
  padding: 2%;
}

button:hover {
  transition-duration: 150ms;
  opacity: 0.95;
}

button:active {
  transform: scale(0.95);
}

a,
a:hover,
a:visited {
  text-decoration: none;
  color: #00b5ad;
}
